@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1 class="page-title">
                    <i class="icon-home"></i>
                    Home
                </h1>
                @RenderBody()
            </div>
        </div>
    </div>
</div>