<div class="row">
    <div class="span12">
        <div class="widget">
            <div class="widget-content">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#feeds" data-toggle="tab">
                                <i class="icon-rss"></i>
                                Feeds
                            </a>
                        </li>
                        <li>
                            <a href="#profile" data-toggle="tab">
                                <i class="icon-user"></i>
                                Profile
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content active">
                        <div class="tab-pane" id="feeds">
                            feeds
                        </div>
                        <div class="tab-pane" id="profile">
                            profile
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>