@model dynamic

@{
    ViewBag.Title = "title";
}

<div id="login-container">
    
    
    <div id="login-header">
        
        <h3>Login</h3>
        
    </div> <!-- /login-header -->
    
    <div id="login-content" class="clearfix">
    
        <form action="#">
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" class="" id="username" placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" class="" id="password" placeholder="Password">
                </div>
            </div>

            <div id="remember-me" class="pull-left">
                <input type="checkbox" name="remember" id="remember" />
                <label id="remember-label" for="remember">Remember Me</label>
            </div>
                
            <div class="pull-right">
                <button type="submit" class="btn btn-warning btn-large">
                    Login
                </button>
            </div>
        </form>
            
    </div> <!-- /login-content -->
        
        
    <div id="login-extra">
            
        <p>Don't have an account? <a href="@Url.Action("Register")">Register</a>.</p>
            
        <p>Forgot your password? <a href="forgot_password.html">Reset it</a>.</p>
            
    </div> <!-- /login-extra -->
    
</div> <!-- /login-wrapper -->